.card-group {
  position: relative;
  width: 250px;
  height: 400px ;
}
.big-card {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}
.little-card {
  width: 50px;
  height: 80px;
  border-radius: 5px;
  background-color: #575656;
  position: absolute;
  top : 50%;
  left : 50%;
  transform:  translate(-50%,-50%);
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
}
.big-card:nth-child(2) {
   background-color: blueviolet;
   transform: translateX(10%) rotate(-1deg);
}
.big-card:nth-child(4) {
  background-color: rgb(43, 70, 226);
  transform: rotate(2deg);
} 
.big-card:nth-child(6) {
  background-color: rgb(43, 226, 141);
  transform: translateX(-6%) rotate(-3deg);
} 
.big-card:nth-child(8) {
  background-color: rgb(226, 70, 43);
  transform: translate(10%,3%) rotate(5deg);
} 
.little-card:nth-child(1) {
  background-color: rgb(232, 245, 52);
}
.little-card:nth-child(3) {
 background-color: rgb(43, 226, 67);
} 
.little-card:nth-child(5) {
 background-color: rgb(43, 226, 141);
} 
.little-card:nth-child(7) {
 background-color: rgb(43, 226, 134);
} 

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-80%,15%) rotate(-20deg);
}
.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-25%,8%) rotate(-10deg);
}
.card-group:hover > .big-card:nth-child(6) {
  transform: translate(25%,8%) rotate(8deg);
}
.card-group:hover > .big-card:nth-child(8) {
  transform: translate(80%,15%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(1) {
  transform: translate(400%, -340%) rotate(-15deg);
}
.card-group:hover > .little-card:nth-child(3) {
  transform: translate(360%, 360%) rotate(15deg);
}
.card-group:hover > .little-card:nth-child(5) {
  transform: translate(-400%, -350%) rotate(15deg);
}
.card-group:hover > .little-card:nth-child(7) {
  transform: translate(-400%, 340%) rotate(-15deg);
}
